// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'fonts';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~font-awesome/scss/font-awesome";

html {
    height: 100%;
}

body {
    background: #fff; /* fallback for old browsers */
    background-image: url('images/tlo-strony.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $font-family-sans-serif;
    min-height: 100%;
}

.color-white {
    color: white;
}

.color-main {
    color: $color-webinar-main;
}

.color-second {
    color: $color-webinar-background;
}

.color-light-blue {
    color: $light-blue;
}

.color-dark-blue {
    color: $dark-blue;
}

.color-yellow {
    color: $color-yellow;
}

.bg-light-blue {
    background-color: $bg-blue;
}

.bg-light-gray{
    background-color: #f8f8f8;
}

.font-family-din {
    font-family: 'DINPro-Bold';
}

.font-20 {
    font-size: 20px;
}

.font-30 {
    font-size: 30px;
}

.font-40 {
    font-size: 40px;
}

.font-50 {
    font-size: 50px;
}

.font-60 {
    font-size: 60px;
}

.h-50p {
    height: 50px;
}

.h-60p {
    height: 60px;
}

.lh-50 {
    line-height: 50px;
}

.lh-60 {
    line-height: 60px;
}

.lh-1 {
    line-height: 1em;
}

.lh-1p1 {
    line-height: 1.1em;
}

.rounded-left-big {
    border-top-left-radius: 1rem !important;
    border-bottom-left-radius: 1rem !important;
}

.rounded-right-big {
    border-top-right-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important;
}

.nav-tabs {
    border-bottom: transparent;

    .nav-link {
        background-color: #ececec;
        color: #a3a3a3;
        font-family: 'DINPro-Bold';
        margin-right: 10px;
        min-width: 100px;

        &.active {
            background-color: $light-blue;
            color: white;
        }

        .icon{
            float: right;
        }
    }

}