// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~font-awesome/scss/font-awesome";

$color-webinar-main: #240b36;
$color-webinar-background: #c31432;

body {
    background: $color-webinar-background; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, $color-webinar-main, $color-webinar-background); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $color-webinar-main, $color-webinar-background); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.color-main {
    color: $color-webinar-main;
}

.color-second {
    color: $color-webinar-background;
}